.logo {
margin-top: -10px;
}
#logo {
  float: left;
  height: 80px;
}
#logo img {
  height: 64px;
  width: 64px;
  margin: auto 10px;
}
#logo span {
  float: right;
  font-size: 20px;
  font-family: Raleway,Hiragino Sans GB,sans-serif;
  height: 80px;
  color: #108ee9;
  margin: auto;
  text-transform: uppercase;
}
.nav-sumenu, .nav-menu-item li {
  margin: 10px 0;
}

:host ::ng-deep .ant-layout-sider-collapsed .nav-text {
  display: none;
}

:host ::ng-deep .ant-layout-sider-collapsed .ant-menu-submenu-title:after {
  display: none;
}

:host ::ng-deep .ant-layout-sider-collapsed .anticon {
  font-size: 24px;
  margin-left: 8px;
}


